language: java
dist: xenial
services:
  - xvfb
addons:
  firefox: "latest"
script: 
    mvn clean test -Dsuite="src/test/resources/testng/testng.xml"
before_install:
  - chmod +x /home/travis/build/AbstractaChile/courseAutomation/drivers/geckodriver
